body {
    width: 100vw;
    height: 100vh;
    display: grid;
    margin: 0;
    padding: 0;
    background-image: url("../images/background.jpg");
    background-size: 100%;
    overflow: hidden;
    grid-template-columns: 10% 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "navigation notes";
}

main {
    grid-area: notes;
    width: 100%;
    height: 100%;
    border: 1px solid red;
}
