.note {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    top: 10%;
    left: 20%;
    border: 20px groove rgb(233, 235, 234);
    background-color: rgb(240, 255, 255);
    min-width: 10%;
    max-width: 100%;
    min-height: 15%;
    resize: both;
    overflow-x: scroll;
    overflow-y: hidden;
    cursor: pointer;
    z-index: 10;
}


.note[pinned="true"] {
    border: 20px groove rgb(135, 135, 135);
}

.noteHeader {
    cursor: text;
    width: 100%;
    height: 4vh;
    white-space: nowrap;
    margin: 0;
    
    text-align: left;
    font-size: calc(1vh + 1vw);
    outline: none;
}

.noteHeader span {
    outline: none;
    padding-right: 20%;
    white-space: nowrap;

}

.deleteNote {
    position: absolute;
    right: 0;
    width: calc(1vh + 1vw);
    height: auto;
    cursor: pointer;
}

.note[pinned="true"] .deleteNote {
    cursor: not-allowed;
}

.noteText {
    background-color: rgb(240, 255, 255);
    resize: none;
    margin: 0;
    padding: 0;
    padding-top: 16px;
    margin-right: -1%;
    width: 100%;
    height: calc(100% - 4vh);
    border: none;
    border-top: 20px groove rgb(233, 235, 234);
    outline: none;
    overflow-y: auto;
}

.note::-webkit-scrollbar {
    visibility: hidden;
    border-right: 4px solid rgb(233, 235, 234);
}

.note textarea::-webkit-scrollbar {
    background-color: rgb(233, 235, 234);
}

.note textarea::-webkit-scrollbar-button {
    background-color: rgba(148, 150, 149, 0.8);
}

.note textarea::-webkit-scrollbar-button:hover {
    background-color: rgb(148, 150, 149);
}

.note textarea::-webkit-scrollbar-corner {
    background-color: #949695;
}

.note textarea::-webkit-scrollbar-thumb {
    background-color: rgba(148, 150, 149, 0.6);
}

.note textarea::-webkit-scrollbar-thumb:hover {
    background-color: rgb(148, 150, 149);
}

.note::-webkit-resizer {
    display: block;
    background-color: #949695;
    background-image: url("../images/expand.png");
}
